body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
}
button{
    color: rgb(99, 0, 51);
    font-size: 3rem;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    display: block;
}
h1 {
    font-size: 75px;
    line-height: 40px;
    font-family: sans-serif;
    margin-top: 2rem;
}